<div class="bg fullHeight">
    <div class="bg-dark"></div>
    <img src="assets/img/cover.jpg" alt="front cover" />
</div>
<div class="container" ng-init="init()">
    <div class="pane">
        <div class="header">
            <a href="/#/"><img src="assets/img/iccc.png" alt="suggst logo" />
            </a>
            <div class="social-controls"><span class="social-header">Follow on</span><a href="https://www.facebook.com/suggst"><i class="fa fa-facebook fa-lg"></i></a><a href="https://twitter.com/suggstapp"><i class="fa fa-twitter fa-lg"></i></a><a href="https://plus.google.com/110329598617449962175/"><i class="fa fa-google-plus fa-lg"></i></a>
            </div>
        </div>
        <div class="login-body">
            <div class="heading">
                <h1>Looking for something to listen?</h1>
                <h2>Suggst will analyze your Spotify library and find a song that fits your mood.<br/>Just sit back and enjoy!</h2>
            </div>
            <div class="login-form">
                <h2>Let's play some music!</h2><a class="roundbutton loginbutton" href="/authenticate">LOG IN WITH SPOTIFY</a>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="item right">
                <p>by <span class="active"><a class="me-link" href="http://marcinpraski.com/">Marcin Praski</a></span><span class="spacerr">|</span><span class="active"><a class="me-link" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=V6ZKNHUYFAGRL">Donate</a></span>
                </p>
            </div>
            <div class="item left">
                <p><span class="active"><a class="me-link" href="http://suggst.net/assets/privacy.html">Privacy policy</a></span>
            </div>
        </div>
    </div>
</div>